<div class="container">
  <div class="-content" >
    <ng-container *ngIf="dataLoaded.length > 0 ; else emptyTemplate ">
      <div *ngFor="let product of dataLoaded">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top -img" [src]="product.image" [alt]="'Card image product ' + product.name">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <div class="card-text card-text--legend">À partir de </div>
            <div class="card__btn-carrinho">
              <div class="card-text card-text--price ">{{ product.price | currency:'BRL':true:'1.2-2'}} </div>
              <button href="#" class="btn btn-primary mt-2" (click)="addCarrinho(product)"> 
                <span>
                  <span class="-plus">+</span><img src="assets/img/carrinho.png">
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>


<ng-template #emptyTemplate>
  <ngx-loading [show]="true"></ngx-loading>
</ng-template>


