
.-header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 64px;
  background-color: #f8f9fa;
  padding: 12px 9%;
  margin-bottom: 24px;

}

.content-carrinho{
  cursor: pointer;
  position: relative;
  .circle {
    width: 14px;
    height: 13px;
    right: -8px;
    top: -5px;
    border-radius: 100%;
    display: block;
    position: absolute;
    background-color: #FA5400;
    line-height: 13px
  }
  .nu-itens {
  display: block;
  width: 100%;
    color: #FFF;
    font-size: 9px;
    text-align: center;
  }

}
