<div class="container">
  <div class="-content" >
    <ng-container *ngIf="dataLoaded.length > 0; else emptyTemplate ">
      <h3 class="mb-2"><u>Cesta de Compras</u></h3>
        <div class="-card" *ngFor="let product of dataLoaded; index as index; trackBy: trackByIdentity">
          <img class="-card__img" [src]="product.image" [alt]="'Card image product ' + product.name">
          <div class="-card__body">
            <h5 class="card-title mb-0">{{product.name}}</h5>
            <div>
              <div class="-card__price">{{ product.price | currency:'BRL':true:'1.2-2'}} </div>
              <select  [id]="'nuProdutos' + index" (change)="onChangeSelect()">
                <option *ngFor="let item of size; index as i " [value]="i + 1" >{{ i + 1}}</option>
              </select>
            </div>
          </div>

          <button class="btn -card__btn-remove" (click)="removeItem(product)"> x </button> 
        </div>
        <div class="-footer">
          <div>
            <h6>Valor Total: {{ nuTotal | currency:'BRL':true:'1.2-2' }}</h6>
            <button class="btn btn-primary" (click)="submit(longContent)">Finalizar compra</button>
          </div>
        </div>
    </ng-container>
  </div>
</div>


<ng-template #emptyTemplate>
  <div>
    Não há produto na cesta de compras
  </div>
</ng-template>


<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Cadastre-se</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="mb-4">
      <b>Último passo, cadastre-se para entrarmos em contato</b>
    </div>
    <form [formGroup]="form" (ngSubmit)="finalizar()">
      <div class="form-group">
        <div class="form-group">
          <label>Nome</label>
          <input type="text" class="form-control" formControlName="name" faria-describedby="nomeHelp" placeholder="Digite seu nome">
        </div>
        <label>E-mail</label>
        <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp" placeholder="Digite seu email">
      </div>
      <div class="form-group">
        <label>Telefone</label>
        <input type="tel" class="form-control" formControlName="phone" aria-describedby="telefoneHelp" placeholder="(11) 99576-6736">
      </div>
     <div class="d-flex justify-content-end">
       <button type="submit" class="btn btn-primary btn-lg mt-3" [disabled]="form.invalid">Cadastrar</button>
     </div>
    </form>
  </div>
</ng-template>
